//
//  Staging.xcconfig
//  CleanArchitecture
//
//  Created by Inna Kokorina on 20.10.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ACCESS_KEY = 67d81a7eb19f4b54ab8b9b5b3dff139c
API_KEY = apiKey
SIMPLE_SLASH = /
PATH = recipes/complexSearch?
BASE_URL = https:$(SIMPLE_SLASH)/api.spoonacular.com
IMAGE_URL = https:$(SIMPLE_SLASH)/spoonacular.com
